<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Custom icon/image</string>
		<key>unit</key>
		<dict>
			<key>ipad</key>
			<dict>
				<key>width</key>
				<integer>0</integer>
				<key>height</key>
				<integer>0</integer>
			</dict>
			<key>iphone</key>
			<dict>
				<key>width</key>
				<integer>0</integer>
				<key>height</key>
				<integer>0</integer>
			</dict>
			<key>universal</key>
			<dict>
				<key>width</key>
				<integer>0</integer>
				<key>height</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Tab bar icon</string>
		<key>unit</key>
		<dict>
			<key>ipad</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>25</integer>
			</dict>
			<key>iphone</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>25</integer>
			</dict>
			<key>universal</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>25</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Toolbar/Navigation bar icon</string>
		<key>unit</key>
		<dict>
			<key>ipad</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>22</integer>
			</dict>
			<key>iphone</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>22</integer>
			</dict>
			<key>universal</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>22</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Web clip icon</string>
		<key>unit</key>
		<dict>
			<key>ipad</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>76</integer>
			</dict>
			<key>iphone</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>60</integer>
			</dict>
			<key>universal</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>60</integer>
			</dict>
		</dict>
	</dict>
</array>
</plist>
